body{
    margin: 0%;
    background-color: rgba(45, 41, 41, 0.099);
    background-repeat: no-repeat;
    height: 90vh;
    text-align: center;
}

h1{
    width: 100%;
    position: relative;
    margin: 0%;
    background-color: aliceblue;
}
.container{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 70%;
}
.container div{
    margin: 4% 4% 0% 4%;
    width: 40%;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
textarea{
  padding: 4%;
  width: 100%;
  color: black;
  border-radius: 15px;
  background-color: rgb(252, 84, 25); 
  border: none;
  height: 60%;
  resize: none;
  color: aliceblue;
  box-shadow: 1px 1px 30px rgba(252, 251, 250); 
}
textarea::placeholder{
    color: aliceblue;
}
select{
    border: none;
    background-color: aliceblue;
    color: black;
    text-align: center;
    width: 50%;
    padding: 1% 1%;
    border-radius: 15px;
    cursor: pointer;
    margin: 2%;
   


}
button{
    background-color: rgb(525, 255, 255);
    border: none;
    text-align: center;
    width: 30%;
    border-radius: 15px;
    padding: 1% 1%;
    cursor: pointer;
    position: absolute;
    top: 65%;
    left: 35%;
}